
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #c00000;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}

nav a:hover {
    color: #ffcc00;
}
main {
    padding: 20px;
}

.contenedor {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 70%;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.contenedor img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.contenedor h2 {
    color: #c00000;
    font-size: 28px;
}

.contenedor p {
    color: #333;
    font-size: 18px;
    text-align: justify;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
